.book {
    background-image: url("../images/open_book1.png");
    background-position: center;
    background-repeat: no-repeat;
}

#game {
    width: 85%;
    max-height: 70rem;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(86, 165, 235, 0.25);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progress-bar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #56a5eb;
    border-radius: 1rem;
    margin-top: 1.5rem;
}

#progress-bar-full {
    height: 100%;
    background-color: #56a5eb;
    width: 15%;
    border: 0.1rem solid #56a5eb;
    border-radius: 0.5rem;
}

/* LOADER */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    #question {
        font-size: 3rem;
        text-align: center;
    }

    #game {
        width: 95%;
    }
    
    #score {
        font-size: 4rem;
    }

    #progress-bar {
        height: 3rem;
    }

}

@media (max-width: 512px) {
    #question {
        font-size: 2.4rem;
        text-align: center;
    }


    .choice-container {
    margin-bottom: 0.2rem;
    font-size: 1.4rem;
}

}