/* FONTS */
@font-face {
    font-family: chalkFont;
    src: url("../fonts/stylish_marker.ttf");
    font-weight: 400;
}

/* HIGH SCORES */

#high-scores-list {
    min-height: 24rem;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.high-scores-list-popup {
    width: 100vw;
    display: inline-block !important;
    margin-bottom: 5rem;
    flex-direction: column;
    text-align: center;
}

#check-new-hs-btn {
    display: none;
    cursor: pointer;
    margin: 2.8rem auto 0rem;
    text-decoration: none;
    background: none;
    border: none;
    font-size: 2.4rem;
    font-family: chalkFont, serif;
    color: #FBF7F5;
    transition: transform 150ms ease-in-out;
    border: 0.1rem outset #FBF7F5;
    border-radius: 50%;
    padding: 1rem;
}

#check-new-hs-btn:hover {
    cursor: pointer;
    transform: translateY(-0.1rem) scale(1.2, 1.2);
}

.high-score {
    color: #FBF7F5;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-family: chalkFont, serif;
}

.highscore-header {
    color: #FBF7F5;
    font-size: 6rem;
    font-family: chalkFont, serif;
    margin-bottom: 4.2rem;
    font-weight: 100;
}

.high-score:hover {
    cursor: pointer;
    transform: scale(1.025);
}

.blackboard {
    background-image: url("../images/blackboard.png");
    background-position: center;
    background-repeat: no-repeat;
}

.blackboard-btn {
    font-size: 3.4rem;
    padding: 1rem 0;
    width: 25rem;
    text-align: center;
    margin-top: 3rem;
    text-decoration: none;
    color: #FBF7F5;
    font-family: chalkFont, serif;
    transition: transform 150ms ease-in-out;
    z-index: 4;
}

.blackboard-btn:hover {
    cursor: pointer;
    transform: translateY(-0.1rem) scale(1.2, 1.2);

}

/* SETTINGS */

#highscore-settings {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    max-width: 37.5rem;
    max-height: 38rem;
    margin-bottom: 9rem;
}

.check {
    font-size: 2.5rem;
    font-family: chalkFont, serif;
    color: #FBF7F5;
    width: 3rem;
    display: flex;
    flex-direction: column;
}

.highscore-check {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#highscore-category {
    margin-bottom: 2rem;
    width: 20rem;
    height: 2.6rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    cursor: pointer;
}

.hs-header {
    color: #FBF7F5;
    font-family: chalkFont, serif;
    margin-bottom: 0rem;
    margin-top: 2.5rem;
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    text-decoration-line: underline;
}

#check-hs-btn {
    cursor: pointer;
    margin-top: 2.8rem;
    text-decoration: none;
    background: none;
    border: none;
    font-size: 3.2rem;
    font-family: chalkFont, serif;
    color: #FBF7F5;
    transition: transform 150ms ease-in-out;
    border: 0.1rem outset #FBF7F5;
    border-radius: 50%;
    padding: 1rem;
}

#check-hs-btn:hover {
    cursor: pointer;
    transform: translateY(-0.1rem) scale(1.2, 1.2);
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
    .highscore-header {
        font-size: 4rem;
    }

    .hs-header {
        font-size: 2.8rem;
    }

    .check {
        font-size: 2rem;
    }

    #check-hs-btn {
        font-size: 2.8rem;
    }
}

@media (max-width: 460px) {
    .blackboard {
        flex-direction: column;
    }

    .blackboard-btn {
        margin: -3.5rem auto 0rem;
        font-size: 2.4rem;
    }

    #high-scores-list-container {
        display: none;
    }

    #highscore-settings {
        width: 85vw;
    }
}

@media (max-height: 665px) {
    #highscore-settings {
        margin-bottom: 1rem;
    }
    .hs-header {
        margin-top: 0.2rem;
    }
    .highscore-header {
        margin-bottom: 0.3rem;
    }
    .high-score {
        font-size: 2rem;
    }
    #high-scores-list {
        min-height: 20rem;
    }
    #check-new-hs-btn {
        margin-top: 0.3rem;
    }
}
