/* FONTS */
@font-face {
    font-family: chalkFont;
    src: url("../fonts/stylish_marker.ttf");
    font-weight: 400;
}

/* HIGH SCORES */

#high-scores {
    width: 50%;
}

#high-scores-list {
    list-style: none;
    padding-left: 0;
}

.high-score {
    color: #FBF7F5;
    ;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-family: chalkFont;
}

.highscore-header {
    color: #FBF7F5;
    font-size: 6rem;
    font-family: chalkFont;
    margin-bottom: 4.2rem;
    font-weight: 100;
}

.high-score:hover {
    cursor: pointer;
    transform: scale(1.025);
}

.blackboard {
    background-image: url("../images/blackboard.png");
    background-position: center;
    background-repeat: no-repeat;
    max-width: 75rem;
}

.blackboard-btn {
    font-size: 3.4rem;
    padding: 1rem 0;
    width: 25rem;
    text-align: center;
    margin-top: 3rem;
    text-decoration: none;
    color: #FBF7F5;
    background-color: none;
    font-family: chalkFont;
}

.blackboard-btn:hover {
    cursor: pointer;
    transform: translateY(-0.1rem) scale(1.2, 1.2);
    transition: transform 150ms;
}

/* SETTINGS */

.highscore-settings {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    max-width: 37.5rem;
    max-height: 38rem;
}

.check {
    font-size: 2.5rem;
    font-family: chalkFont;
    color: #FBF7F5;
    width: 3rem;
    display: flex;
    flex-direction: column;
}

.highscore-check {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
}