/* FONTS */
@font-face {
    font-family: chalkFont;
    src: url("../fonts/stylish_marker.ttf");
    font-weight: 400;
}

#high-scores-list {
    list-style: none;
    padding-left: 0;
}

.high-score {
    color: #FBF7F5;
    ;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-family: chalkFont;
}

.highscore-header {
    color: #FBF7F5;
    font-size: 6rem;
    font-family: chalkFont;
    margin-bottom: 4.2rem;
    font-weight: 100;
}

.high-score:hover {
    cursor: pointer;
    transform: scale(1.025);
}

.blackboard {
    background-image: url("../images/blackboard.png");
    background-position: center;
    background-repeat: no-repeat;
}

.blackboard-btn {
    font-size: 3.4rem;
    padding: 1rem 0;
    border: #FBF7F5 outset 0.1rem;
    border-radius: 45%;
    width: 20rem;
    text-align: center;
    margin-top: 3rem;
    text-decoration: none;
    color: #FBF7F5;
    background-color: none;
    font-family: chalkFont;
}

.blackboard-btn:hover {
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}