/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');

/* ROOT AND MAIN STYLES */

:root {
    font-size: 62.5%;
    background-image: url("../images/background.jpg");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gentium Book Basic', serif;
    color: #333;
}

/* HEADERS */

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color: #333;
    margin-bottom: 3rem;
}

h2 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

#main-title {
    font-size: 4.8rem;
    margin-bottom: 2rem;
}

#score-header {
    margin-bottom: 0.2rem;
}

/* UTILITIES */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* BUTTONS */

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #333;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #333;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(184, 149, 86, 0.7);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* BOX STYLES */

.box-border {
    width: 100vw;
    height: 100vh;
    border-radius: 1rem;
    max-width: 39rem;
    max-height: 50rem;
    background-color: antiquewhite;
}

.frame {
    width: 38rem;
    position: absolute;
    object-fit: cover;
    pointer-events: none;
}

/* MODAL */

#modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

#modal-frame {
    max-width: 49rem;
    max-height: 38rem;
    position: absolute;
    top: calc(50% - 19rem);
    left: calc(50% - 24.5rem);
    object-fit: cover;
    pointer-events: none;
    z-index: 2;
}

#close-btn i {
    font-size: 2.8rem;
    float: right;
    margin-right: 1.5rem;
    margin-top: -1.8rem;
}

#close-btn i:hover {
    cursor: pointer;
    color: white;
    transition: color 200ms ease-in;
}

#modal-btn {
    width: 40%;
    height: 3rem;
    align-self: center;
    margin: 2rem auto;
    border: 0.1rem solid #333;
    border-radius: 5rem;
    font-size: 2rem;
    background-color: white;
    text-decoration: none;
    display: block;
}

#modal-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(184, 149, 86, 0.7);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* FEEDBACK FORM */

.feedback-form {
    background-color: antiquewhite;
    padding: 4rem 2rem 2rem 2rem;
    width: 100vw;
    height: 100vh;
    max-width: 50rem;
    max-height: 39rem;
    border-radius: 1rem;
    position: absolute;
    top: calc(50% - 19.5rem);
    left: calc(50% - 25rem);
    text-align: center;
}

#feedback-title {
    margin-top: -72%;
    position: relative;
    z-index: 2;
}

#feedback-form label {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 2rem;
}

#feedback-form input,
textarea {
    font-size: 1.6rem;
    width: 80%;
}

/* GAME SETTINGS FORM */

#game-settings {
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-settings>label {
    font-size: 2rem;
    margin-bottom: 0.7rem;
    font-weight: 800;
}

#game-settings>select {
    margin-bottom: 2rem;
    width: 20rem;
    height: 2.6rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    cursor: pointer;
}

/* INSTRUCTIONS PAGE */

.instructions-header {
    font-size: 4.4rem;
    margin-bottom: 0rem;
}

.instructions h3 {
    font-size: 2.6rem;
    margin: 1.5rem 0rem;
    font-weight: 600;
}

.instructions ul {
    padding: 0rem 4rem;
}

.instructions li {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

/* END PAGE FORM */

#end-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(184, 149, 86, 0.5);
}

input::placeholder {
    color: #aaa;
}

/* FOOTER */

footer {
    width: 100vw;
    position: absolute;
    top: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-header {
    color: antiquewhite;
    font-weight: 500;
    font-size: 3.2rem;
    text-shadow: 2px 2px black;
    -webkit-text-stroke: 0.05rem black;
}

#feedback-btn {
    cursor: pointer;
    background-color: antiquewhite;
    border: 0.2rem solid #333;
    border-radius: 50%;
    text-decoration: none;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms ease-in-out;
}

#feedback-btn:hover {
    cursor: pointer;
    transform: scale(1.09);
}

#quill {
    height: 7.5rem;
}

/* MEDIA QUERIES */

@media (max-width: 390px) {
    .frame {
        width: 98vw;
    }

    .box-border {
        width: 100vw;
        height: calc(100vw * 1.30);
    }

    #game-settings {
        margin-bottom: 0rem;
    }

    #main-title {
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 500px) {
    #modal-frame {
        transform: rotate(90deg);
    }
    #feedback-title {
        margin-top: 2rem;
    }
    .form-small {
        width: 100%;
        text-align: center;
    }
    .modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border-radius: 1rem;
    max-width: 39rem;
    max-height: 50rem;
    background-color: antiquewhite;
    }
    #close-btn i {
    font-size: 2.8rem;
    float: right;
    margin-right: 3rem;
    margin-top: -10rem;
}
}

@media (max-height: 670px) {
    footer {
        bottom: 0;
    }

    #contact-header {
        font-weight: 300;
        font-size: 1.8rem;
        margin-bottom: 0rem;
    }

    #feedback-btn {
        width: 5rem;
        height: 5rem;
        transition: transform 300ms ease-in-out;
        margin-bottom: 0rem;
    }

    #feedback-btn:hover {
        cursor: pointer;
        transform: scale(1.09);
    }

    #quill {
        height: 4rem;
    }

    .container {
        max-height: 87vh;
    }
}