/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');

/* ROOT AND MAIN STYLES */

:root {
    font-size: 62.5%;
    background-image: url("../images/background.jpg");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gentium Book Basic', serif;
    color: #333;
}

/* HEADERS */

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color: #333;
    margin-bottom: 3rem;
}

h2 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

#main-title {
    font-size: 4.8rem;
}

#score-header {
    margin-bottom: 0.2rem;
}

/* UTILITIES */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90rem;
    max-height: 80vh;
    margin: 0 auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* BUTTONS */

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #333;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #333;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(184, 149, 86, 0.7);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* BOX STYLES */

.box-border {
    width: 100vw;
    height: 100vh;
    border-radius: 1rem;
    max-width: 39rem;
    max-height: 50rem;
    background-color: antiquewhite;
}

.frame {
    width: 38rem;
    position: absolute;
    object-fit: cover;
    pointer-events: none;
}

/* MODAL */

#modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

#modal-frame {
    width: 100vw;
    height: 100vh;
    max-width: 38rem;
    max-height: 49rem;
    position: absolute;
    object-fit: cover;
    pointer-events: none;
    transform: rotate(90deg);
}

#close-btn i {
    font-size: 2.8rem;
    float: right;
    margin-right: 1rem;
}

#close-btn i:hover {
    cursor: pointer;
    color: white;
    transition: color 200ms ease-in;
}

#modal-btn {
    width: 40%;
    height: 3rem;
    align-self: center;
    margin-top: 2rem;
    border: 0.1rem solid #333;
    border-radius: 5rem;
    font-size: 2rem;
    background-color: white;
    text-decoration: none;
}

#modal-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(184, 149, 86, 0.7);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* FEEDBACK FORM */

#feedback-form {
    background-color: antiquewhite;
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    max-width: 50rem;
    max-height: 39rem;
    border-radius: 1rem;
}

#feedback-title {
    text-align: center;
}

#feedback-form label {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 2rem;
}

#feedback-form input,
textarea {
    font-size: 1.6rem;
}

/* GAME SETTINGS FORM */

#game-settings {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-settings>label {
    font-size: 2rem;
    margin-bottom: 0.7rem;
    font-weight: 800;
}

#game-settings>select {
    margin-bottom: 2rem;
    width: 20rem;
    height: 2.6rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    cursor: pointer;
}

/* END PAGE FORM */

#end-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(184, 149, 86, 0.5);
}

input::placeholder {
    color: #aaa;
}

/* FOOTER */

footer {
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-header {
    color: antiquewhite;
    font-weight: 500;
    font-size: 3.2rem;
    text-shadow: 2px 2px black;
    -webkit-text-stroke: 0.05rem black;
}

#feedback-btn {
    cursor: pointer;
    background-color: antiquewhite;
    border: 0.2rem solid #333;
    border-radius: 50%;
    text-decoration: none;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 500ms ease-in-out; 
}

#feedback-btn:hover {
    cursor: pointer;
    transform: scale(1.09);
}

#quill {
    height: 7.5rem;
}